@model OnlineShop.Models.SpecialTags
@{
    ViewData["Title"] = "Create SpecialTag";
}
<br />
<h2 class="text-info">Create Special Tag</h2>
<form asp-action="CreateSpecialTag" method="post">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="SpecialTag"></label>
            </div>
            <div class="col-5">
                <input asp-for="SpecialTag" class="form-control" />
            </div>
            <span asp-validation-for="SpecialTag" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save" />
            <a asp-action="SpecialTag" class="btn btn-warning">Back</a>
        </div>
    </div>
</form>

@section Scripts{
    @{
    await Html.RenderPartialAsync(partialViewName: "_ValidationScriptsPartial");
}
}