<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/efbc1631-4116-4184-9b83-454b61ad974d/resourcegroups/OnlineShop20231026110008ResourceGroup/providers/Microsoft.Web/sites/OnlineShop20231026110008</ResourceId>
    <ResourceGroup>OnlineShop20231026110008ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/efbc1631-4116-4184-9b83-454b61ad974d/resourceGroups/OnlineShop20231026110008ResourceGroup/providers/Microsoft.ApiManagement/service/OnlineShopapi/apis/OnlineShop</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://onlineshop20231026110008.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>2e1597e9-eab6-4132-be2b-b04ae3381343</ProjectGuid>
    <MSDeployServiceURL>onlineshop20231026110008.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OnlineShop20231026110008</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$OnlineShop20231026110008</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>